<canvas class="container-fluid" id="renderCanvas" touch-action="none"></canvas> 
<div class="card w-100 mb-3 border-success" p-3>
  <div class="card-header text-center bg-success text-white">
    <h3 class="card-title">Détails</h3>
  </div>
  <div class="card-body">
    <p class="card-text"> Description : {{details.description}}</p>
  </div>
  <ul class="list-group list-group-flush ">
    <li class="list-group-item border-success">Hauteur : {{details.hauteur}} mètres</li>
    <li class="list-group-item border-success">Pays : {{details.pays}}</li>
  </ul>
</div>