<div class="card text-center w-100 p-3 border-success mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Bienvenue</h5>
    <p class="card-text">Ce site représente en 3D des monuments célèbres.</p>
  </div>
</div>
<!--Map-->
<div class=" text-center">
  <h5>
    Emplacements des monuments
  </h5>
  <div id="map" class="map"></div>
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
</div>
