<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/accueil">{{'HOME'|translate}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{'STAT'|translate}}</li>
  </ol>
</nav>

<ag-grid-angular 

class="ag-theme-balham "
id="myGrid"
[enableSorting]="true"
[enableFilter]="true"
[rowData]="rowData" 
[columnDefs]="columnDefs"
[animateRows]="true"
[rowSelection]="rowSelection"
(gridReady)="onGridReady($event)"
>
</ag-grid-angular>
<div class="text-center" id="histo">
    <h5>
      {{'COMPARE'|translate}}
    </h5>
    <svg id="hauteur" class=""></svg> 
</div>
